{% extends 'base.html' %}
{% load static %}
{% block content %}
    <div id="main-page" class="container">
    {# Profileinfo, left box #}
        <div class="col-lg-3">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="media">
                        <div class="center" style="font-size: 1.5em">
                            <strong>
                                    {{ user.get_full_name }}
                            </strong>
                        </div>
                        <div align="center">
                            <img class="thumbnail img-responsive" src="/uploads/{{ user.profile.picture }}" width="300px" height="300px">
                        </div>
                        <div class="media-body">
                            <h3><strong>Email</strong></h3>
                            <p>{{ user.email }}</p>
                            <hr>
                            <h3><strong>Bio</strong></h3>
                            <p>{{ user.profile.bio }}</p>
                            <hr>
                            <h3><strong>Location</strong></h3>
                            <p>{{ user.profile.location }}</p>
                            <hr>
                            <h3><strong>Gender</strong></h3>
                            <p>{{ user.profile.get_gender_display }}</p>
                            <hr>
                            <h3><strong>Birthday</strong></h3>
                            <p>{{ user.profile.birth_date }}</p>
                        </div>
                     </div>
                </div>
            </div>
        </div>
    {# Profil page, right#}
        <div class="col-lg-9">
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="media">
                        <h2 class="center">My profile</h2>
                        <p>to be continued.</p>
                     </div>
                </div>
            </div>
        </div>
    </div>

{% endblock content %}