{% extends 'baseNavbar.html' %}

{% block content %}
    <div id="main-page" class="container" style="padding-top: 20px">
        <div class="panel panel-default">
            <div class="panel-body">
                <div class="media">
                    <form method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        <h2>Edit user</h2>
                        <hr>
                        {{ user_form }}
                        <hr>
                        <div class="center" style="padding-top: 15px">
                            <button class="btn btn-facebook" style="text-align: center" type="submit">Save changes</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
</div>
{% endblock %}