{% extends 'baseNavbar.html' %}
{% load static %}

{% block content %}
<div id="main-page" class="container" style="padding-top: 20px">
        <div class="panel panel-default">
            <div class="panel-body">
                <div class="media">
                    <form method="POST">
                    {% csrf_token %}
                    <h2>Register new user:</h2>
                        <hr>
                        <strong>Username:</strong>{{ form.username }}<br>
                        <strong>Password:</strong>{{ form.password1 }}<br>
                        <strong>Password confirmation:</strong>{{ form.password2 }}<br>
                        <ul><li>Your password can&#39;t be too similar to your other personal information.</li><li>Your password must contain at least 8 characters.</li><li>Your password can&#39;t be a commonly used password.</li><li>Your password can&#39;t be entirely numeric.</li></ul>
                        <hr>
                        <div class="center" style="padding-top: 15px">
                            <button class="btn btn-facebook" style="text-align: center" type="submit">Save changes</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
</div>
{% endblock %}