body{
    background-color: rgb(222, 214, 201);
}

.center {
    text-align: center;
}

.contact-picture {
    width: 170px;
    border-radius: 50%;

}

.col-centered{
    float: none;
    margin: 0 auto;
}

#main-logo {
    font-size: 30px;
    font-family: 'Pattaya', sans-serif;
    color: #d5693d;
}

#test{
    background-color: rgba(255,0,0,0.1);
}

/* Always take up entire screen (padding left is because sidebar is open) */
#page-content-wrapper {
    width: 100%;
    padding-top: 0;
}

.error-messages {
    color: red;
}

.background-image{
    background-repeat: no-repeat;

    background-size: cover;
}

.background {
    min-height: 100vh;
    position: relative;
}

.navbar-default {
    margin-bottom: 0px;
    z-index: 1001;
}

#map-container{
    height: 100%;
}

#map{
    width: 100%;
    height: calc(100vh);
    margin: 0;
    position: absolute;
    top: 0;
    left: 0;
}

#super-wrapper{
    max-height: 100vh;
}

.clearfix {
    display: block;
    width: 100%;
    height: 0;
    clear: both;
}

.space-above {
    margin-top: 15px;
}

.space-below {
    margin-bottom: 20px;
}

.space-under {
    margin-bottom: 20px;
    margin-left: 20px;
    margin-right: 20px;
}

.white-box {
    background-color: #fff;
    padding: 20px;
    overflow: auto;
}



.unstyled-box {
    padding: 20px;
}

.clearfix {
    overflow: auto;
}

.btn-whatsmappening{color:#fff;background-color:#d5693d;border-color:rgba(0,0,0,0.2)}.btn-microsoft:focus,.btn-microsoft.focus{color:#fff;background-color:#125acd;border-color:rgba(0,0,0,0.2)}
.btn-whatsmappening:hover{color:#fff;background-color: #b65f34;border-color:rgba(0,0,0,0.2)}