{% extends "base.html" %}
{% load static %}

 {% block infoBar %}
    <!-- Sidebar -->
    {% include 'sidebar.html' %}
    <!-- /#sidebar-wrapper -->
 {% endblock infoBar %}

{% block menuToggle %}
    <!-- /#menu toggle -->
    <a href="#menu-toggle" class="btn btn-default" id="menu-toggle">
        <span class="glyphicon glyphicon-chevron-left"  style="color:var(--sidebar-text-color)" id="textarea"></span>
    </a>

    <!-- profile icon -->
    <a id="user-icon" href="" class="fa fa-user-circle" data-toggle="modal" data-target="#userModal"> </a>

    <!-- tribar icon -->
    {% if user.is_authenticated %}
    <a id="tribar-icon" href="" class="fa fa-bars" data-toggle="modal" data-target="#tribarModal"> </a>
    {% endif %}

    <!-- Modal -->
    <div id="userModal" class="modal fade" role="button">
        <div id="userModal-dialog" class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div>
                    {% if user.is_authenticated %}
                        <button type="button" class="close" data-dismiss="modal" >&times;</button>
                        <ul>
                            <li>
                                <a href="{% url 'user' %}">My profile</a>
                            </li>
                            <hr/>
                            <li>
                                <a href="{% url 'logout' %}">Logg out</a>
                            </li>
                        </ul>

                    {% else %}
                        <ul>
                            <li>
                                <p>Logg in / register bruker med</p>
                                <div class="social-buttons">
                                    <a href="{% url 'social:begin' 'facebook' %}" class="btn btn-fb" style="color: white;"><i class="fa fa-facebook"></i> Facebook</a>
                                </div>
                                <p class="center">eller</p>
                                <form class="form" method="post" action="{% url 'login' %}" accept-charset="UTF-8" id="login-nav">{% csrf_token %}
                                    <div class="form-group">
                                         <input type="text" class="form-control" name="username" placeholder="Brukernavn" required>
                                    </div>
                                    <div class="form-group">
                                         <input type="password" class="form-control" name="password" placeholder="Passord" required>
                                    </div>
                                    <div class="form-group">
                                         <button type="submit" class="btn btn-primary btn-block">Logg inn</button>
                                    </div>
                                </form>
                                <div class="bottom text-center">
                                    New here ? <a href="{% url 'register' %}"><b>Join Us</b></a>
                                </div>
                            </li>
                        </ul>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>

    <!-- Modal -->
    {% if user.is_authenticated %}
    <div id="tribarModal" class="modal fade" role="button">
      <div id="tribarModal-dialog" class="modal-dialog">

        <!-- Modal content-->

        <div class="modal-content">

        <div class="modal-body">
        <button type="button" class="close" data-dismiss="modal" >&times;</button>

        <ul>
            <li><a href="{% url 'events:new_event' %}">Create Event</a></li>
            <li><a href="{% url 'events:user_events' %}">Manage Events</a></li>
        </ul>
        </div>

        </div>

      </div>
    </div>
    {% endif %}

<script>

</script>


{% endblock menuToggle %}
