{% extends "baseSideBar.html" %}
{% load static %}

{% block script %}

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.10/css/all.css" integrity="sha384-+d0P83n9kaQMCwj8F4RJB66tzIwOKmrdb46+porD/OvrJ+37WqIM7UoBtwHO6Nlg" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet-easybutton@2/src/easy-button.css">
    <script src="https://cdn.jsdelivr.net/npm/leaflet-easybutton@2/src/easy-button.js"></script>


     <!-- map Markers -->
    <link rel="stylesheet" href="http://code.ionicframework.com/ionicons/1.5.2/css/ionicons.min.css">
    <link rel="stylesheet" type="text/css" href="{% static "css/leaflet.awesome-markers.css" %}">
    <script type="text/javascript" src="{% static "js/leaflet.awesome-markers.js" %}"></script>

    <!-- clustering -->
	<link rel="stylesheet" href="{% static "css/MarkerCluster.css" %}" />
	<link rel="stylesheet" href="{% static "css/MarkerCluster.Default.css" %}" />
	<script src="{% static "js/leaflet.markercluster-src.js" %}"></script>

   {% endblock script %}


{% block content %}


    <style>
       .invisible-button {
        background-color: Transparent;
        background-repeat:no-repeat;
        border: none;
        cursor:pointer;
        overflow: hidden;
        outline:none;
        font-size: 25px;
        }

        .centered {
            margin-right: auto;
            margin-left: auto;
            width: 12em;
        }
        .centerize {
            display: block;
            margin: 0 auto;
            text-align: center;
        }

    </style>


<div id="map-container" class="container-fluid">
     <div id="map">
         <script>

             var eventMap = L.map('map').setView([63.429722, 10.393333], 13);
         L.tileLayer('https://api.tiles.mapbox.com/v4/{id}/{z}/{x}/{y}.png?access_token=pk.eyJ1IjoibWFwYm94IiwiYSI6ImNpejY4NXVycTA2emYycXBndHRqcmZ3N3gifQ.rJcFIG214AriISLbB6B5aw', {
            maxZoom: 18,
            attribution: 'Map data &copy; <a href="http://openstreetmap.org">OpenStreetMap</a> contributors, ' +
                '<a href="http://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, ' +
                'Imagery © <a href="http://mapbox.com">Mapbox</a>',
            id: 'mapbox.streets'
        }).addTo(eventMap);</script>

     </div>
 </div>


<script>

    var layer;
    var markerLayer = new L.markerClusterGroup();
    var hiddenMarkers = new L.markerClusterGroup();

    eventMap.locate({setView:true}).on('locationfound',function (e) {
        eventMap.setZoom(13);
    });



    //a marker that can be marked by user
    var userMarker = L.marker(eventMap.getCenter(),{
        draggable:true
    });
    var circleOfLife=L.circle(userMarker.getLatLng(),{
        radius:2000
    });

    var addedToMap=false;

L.easyButton('fa-map-marker', function(btn, map){
    if(!addedToMap) {
        userMarker.setLatLng(map.getCenter()).addTo(eventMap);
        addedToMap=true;
    }else{
        userMarker.setLatLng(map.getCenter());

    }
      circleOfLife.setLatLng(userMarker.getLatLng());
    if (distanceSearch){
           filterDistance();
    }
}).addTo(eventMap);

userMarker.on("drag", function(e) {
    var marker = e.target;
    var position = marker.getLatLng();
    circleOfLife.setLatLng(position);
    if (distanceSearch){
           filterDistance();
    }
});



    function onEachFeature(feature, layer) {
        var date = feature.properties.start.substr(0,10);
        var time = feature.properties.start.substr(11);
        time = time.substr(0,5);

          var ourPopup = '<h4 class=centered">' + feature.properties.title + "</h4>" +
            '<p>Start: ' + date + ", " + time + '</p>' +
            '<hr>' + '<h4 class=centered style="font-size: 16px">' + feature.properties.ingress + '</h4>' +
            '<a class="btn btn-whatsmappening centerize" style="color:white" href="{% url 'events:event_detail' 55 %}">See more</a>'
                .replace(/55/, feature.properties.pk.toString()) ;
        var marker = getMarker(feature.properties.category, layer);
        setTags(feature.properties, marker);

        marker.bindPopup(ourPopup);
        markerLayer.addLayer(marker);

    }

    var notFavoritedMarker = [];

    //uses categoryMap, categoryMarkerMap
    function setTags(properties, marker) {
        var curCategory = categoryMap[properties.category];// get title for the event category
        var tagMarkers = categoryMarkerMap[curCategory]; // get the current Markers for this tag
        tagMarkers.push(marker); // add this marker to list
        categoryMarkerMap[curCategory] = tagMarkers;

        if(!favoriteMap[properties.pk]){
            notFavoritedMarker.push(marker);
        }
    }

    //uses categoryMap
    function getMarker(categoryID, layer) {

        var markerCategory = categoryMap[categoryID];

        switch(markerCategory) {
            case "Family":
                return L.marker(layer.getLatLng(), {icon: familyMarker});
                break;
            case "Concert":
                return L.marker(layer.getLatLng(), {icon: concertMarker});
                break;
            case "Course":
                return L.marker(layer.getLatLng(), {icon: courseMarker});
                break;
            case "Art":
                return L.marker(layer.getLatLng(), {icon: artMarker});
                break;
            case "Food":
                return L.marker(layer.getLatLng(), {icon: foodMarker});
                break;
            case "Party":
                return L.marker(layer.getLatLng(), {icon: partyMarker});
                break;
            case "Theatre":
                return L.marker(layer.getLatLng(), {icon: theaterMarker});
                break;
            case "Sport":
                return L.marker(layer.getLatLng(), {icon: sportMarker});
                break;
            default:
                return L.marker(layer.getLatLng(), {icon: defaultMarker});
}

    }

    var theaterMarker = L.icon({
    iconUrl: '{% static "img/icons/theatreMarker.png" %}',
    shadowUrl: '{% static "img/icons/markers-shadow.png" %}',

    iconSize:     [38, 40], // size of the icon
    shadowSize:   [30, 20], // size of the shadow
    iconAnchor:   [19, 40], // point of the icon which will correspond to marker's location
    shadowAnchor: [10, 17],  // the same for the shadow
    popupAnchor:  [-3, -40] // point from which the popup should open relative to the iconAnchor
    });

    var partyMarker = L.icon({
    iconUrl: '{% static "img/icons/partyMarker.png" %}',
    shadowUrl: '{% static "img/icons/markers-shadow.png" %}',

    iconSize:     [38, 40], // size of the icon
    shadowSize:   [30, 20], // size of the shadow
    iconAnchor:   [19, 40], // point of the icon which will correspond to marker's location
    shadowAnchor: [10, 17],  // the same for the shadow
    popupAnchor:  [-3, -40] // point from which the popup should open relative to the iconAnchor
    });

    var sportMarker = L.icon({
    iconUrl: '{% static "img/icons/sportsMarker.png" %}',
    shadowUrl: '{% static "img/icons/markers-shadow.png" %}',

    iconSize:     [38, 40], // size of the icon
    shadowSize:   [30, 20], // size of the shadow
    iconAnchor:   [19, 40], // point of the icon which will correspond to marker's location
    shadowAnchor: [10, 17],  // the same for the shadow
    popupAnchor:  [-3, -40] // point from which the popup should open relative to the iconAnchor
    });

    var defaultMarker = L.icon({
    iconUrl: '{% static "img/icons/defaultMarker.png" %}',
    shadowUrl: '{% static "img/icons/markers-shadow.png" %}',

    iconSize:     [38, 40], // size of the icon
    shadowSize:   [30, 20], // size of the shadow
    iconAnchor:   [19, 40], // point of the icon which will correspond to marker's location
    shadowAnchor: [10, 17],  // the same for the shadow
    popupAnchor:  [-3, -40] // point from which the popup should open relative to the iconAnchor
    });

    var foodMarker = L.icon({
    iconUrl: '{% static "img/icons/foodMarker.png" %}',
    shadowUrl: '{% static "img/icons/markers-shadow.png" %}',

    iconSize:     [38, 40], // size of the icon
    shadowSize:   [30, 20], // size of the shadow
    iconAnchor:   [19, 40], // point of the icon which will correspond to marker's location
    shadowAnchor: [10, 17],  // the same for the shadow
    popupAnchor:  [-3, -40] // point from which the popup should open relative to the iconAnchor
    });

    var artMarker = L.icon({
    iconUrl: '{% static "img/icons/artMarker.png" %}',
    shadowUrl: '{% static "img/icons/markers-shadow.png" %}',

    iconSize:     [38, 40], // size of the icon
    shadowSize:   [30, 20], // size of the shadow
    iconAnchor:   [19, 40], // point of the icon which will correspond to marker's location
    shadowAnchor: [10, 17],  // the same for the shadow
    popupAnchor:  [-3, -40] // point from which the popup should open relative to the iconAnchor
    });

    var courseMarker = L.icon({
    iconUrl: '{% static "img/icons/course.png" %}',
    shadowUrl: '{% static "img/icons/markers-shadow.png" %}',

    iconSize:     [38, 40], // size of the icon
    shadowSize:   [30, 20], // size of the shadow
    iconAnchor:   [19, 40], // point of the icon which will correspond to marker's location
    shadowAnchor: [10, 17],  // the same for the shadow
    popupAnchor:  [-3, -40] // point from which the popup should open relative to the iconAnchor
    });

    var concertMarker = L.icon({
    iconUrl: '{% static "img/icons/concertMarker.png" %}',
    shadowUrl: '{% static "img/icons/markers-shadow.png" %}',

    iconSize:     [38, 40], // size of the icon
    shadowSize:   [30, 20], // size of the shadow
    iconAnchor:   [19, 40], // point of the icon which will correspond to marker's location
    shadowAnchor: [10, 17],  // the same for the shadow
    popupAnchor:  [-3, -40] // point from which the popup should open relative to the iconAnchor
    });

    var familyMarker = L.icon({
    iconUrl: '{% static "img/icons/familyMarker.png" %}',
    shadowUrl: '{% static "img/icons/markers-shadow.png" %}',

    iconSize:     [38, 40], // size of the icon
    shadowSize:   [30, 20], // size of the shadow
    iconAnchor:   [19, 40], // point of the icon which will correspond to marker's location
    shadowAnchor: [10, 17],  // the same for the shadow
    popupAnchor:  [-3, -40] // point from which the popup should open relative to the iconAnchor
    });

    var categoryMap = {}; // mapsCategoryID to categoryName
    var categoryList = [];
    var categoryMarkerMap= {};
    var favoriteMap = {};
    var eventPoints = "{% url 'events:pointData' %}";

    function cbPopulateCategoryMap() {
        console.log("in the initiateEventPointCallbackMadnes Callback function");
        addEvents(map, eventPoints);
    }

    // fill neccesary category variables -> THEN addEvents -> THEN getAllTags
    function initiateEventPointCallbackMadnes(){
       categoryMap = {};
       categoryList =[];
       categoryMarkerMap= {};
       favoriteMap = {};
       console.log("initiateEventPointCallbackMadnes")

        {% for favEvent in favoritedEvents %}
           favoriteMap['{{ favEvent.pk }}'] = true;
        {% endfor %}


        var categories ="{% url 'events:categories' %}";

        $.getJSON(categories,function (data) {
            $.each(data,function (key,val) {
                categoryMap[val.pk]= val.fields.title;
                categoryList.push(val.fields.title);
                categoryMarkerMap[val.fields.title] = [];
            });

            cbPopulateCategoryMap()
        });
        return categoryMap;
    }


    function cbAddEvents() {
        console.log("in the AddEvents Callback function");
        getAllTags();
    }

    function addEvents(map, eventPoints) {
        markerLayer = new L.markerClusterGroup();
        hiddenMarkers = new L.markerClusterGroup();

        $.getJSON(eventPoints, function (data) {
            layer = L.geoJson(data, {
                onEachFeature: onEachFeature
            });
            markerLayer.addTo(eventMap);
            cbAddEvents();
        });
    }


    initiateEventPointCallbackMadnes();
    //addEvents(eventMap, eventPoints);

</script>

{% endblock content %}
