{% load static %}
<nav class="navbar navbar-default">
    <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navigation_menu" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{% url 'frontpage' %}">
                <p id="main-logo">WhatsMappening</p>
            </a>
        </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="navigation_menu">
        <ul class="nav navbar-nav">
           <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Navigation<span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li>
                        <a href="{% url 'events:interface' %}">Events</a>
                    </li>
                    <li role
                                ="separator" class="divider"></li>
                    <li><a href="#">link 2</a></li>
                </ul>
            </li>
        </ul>
        <ul class="nav navbar-nav navbar-right">

       {% if user.is_authenticated %}
                {% if user.is_superuser %}
                    <li><a href="{% url 'admin:index' %}">Administrering</a>
                {% endif %}

        <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{{ user.username }} <span class="caret"></span></a>
            <ul class="dropdown-menu">
                <li><a href="{% url 'user' %}">My profile</a></li>
                <li><a href="{% url 'settings' %}">Edit Profile</a></li>
                <li role="separator" class="divider"></li>
                <li><a href="{% url 'logout' %}">Logg out</a>
            </ul>
        </li>
        {% else %}
        <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown"><b>Login</b> <span class="caret"></span></a>
			<ul id="login-dp" class="dropdown-menu">
				<li>
                    <div class="row">
                        <div class="col-md-12">
                            <p class="center">Logg in / register bruker med</p>
								<div class="social-buttons">
									<a href="{% url 'social:begin' 'facebook' %}" class="btn btn-fb"><i class="fa fa-facebook"></i> Facebook</a>
								</div>
                                <p class="center">eller</p>

								 <form class="form" method="post" action="{% url 'login' %}" accept-charset="UTF-8" id="login-nav">{% csrf_token %}
										<div class="form-group">
											 <input type="text" class="form-control" name="username" placeholder="Brukernavn" required>
										</div>
										<div class="form-group">
											 <input type="password" class="form-control" name="password" placeholder="Passord" required>
{#                                             <div class="help-block center">#}
{#                                                 <a href="">Glemt passordet?</a>#}
{#                                             </div>#}
										</div>
										<div class="form-group">
											 <button type="submit" class="btn btn-primary btn-block">Logg inn</button>
										</div>
								 </form>
							</div>
{#							<div class="bottom text-center">#}
{#								New here ? <a href="#"><b>Join Us</b></a>#}
{#							</div>#}
					 </div>
				</li>
			</ul>
        </li>
        {% endif %}

        </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>