{% load static %}
<link rel="stylesheet" type="text/css" href="{% static "css/sidebar.css" %}">

<!-- Sidebar -->
<div id="sidebar-wrapper">
    <ul class="sidebar-nav">
        <li><a href="#">Some Link</a></li>
        <li><a href="#">Another thing</a></li>
    </ul>   
</div>

<!-- Button-->
<div id="sidebar-collapser-wrapper">
    <div class="container-fluid">
        <div class="row" >
            <div class="col" >
                <a href="#" class="btn btn-default" id="sidebar-toggle" >
                	<span class="glyphicon glyphicon-chevron-left"  style="color:white" id="textarea"></span>
                </a>
            </div>
        </div>
    </div>
</div>