
{% load static %}

<link rel="stylesheet" type="text/css" href="{% static "css/sidebar.css" %}">

<!-- Sidebar -->
<div id="sidebar-wrapper">
    <ul class="sidebar-nav">
        <li class="sidebar-brand">
            <a href="{% url 'frontpage' %}">
                <p id="main-logo">WhatsMappening</p>
            </a>
        </li>
        <hr/>

    </ul>
    <!-- Search form -->

       <div align = "center">

        <input type="text" name="addr" placeholder="Search for location" id="addr" list="try" value="">
           <datalist id="try">
           </datalist>

        <button type="button" id="addrbtn" onclick="addr_search()" class="btn-default btn-sm"><span class="glyphicon glyphicon-search"></span></button>


       </div>

<BR><BR>

      <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>jQuery UI Slider - Range with fixed minimum</title>
  <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
  <link rel="stylesheet" href="/resources/demos/style.css">
  <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
  <script>
  $( function() {
    $( "#slider-range-min" ).slider({
      range: "min",
      value: 0,
      min: 0,
      max: 50,
      slide: function( event, ui ) {
        $( "#distance" ).val( ui.value + " km"  );
      }
    });
    $( "#distance" ).val( $( "#slider-range-min" ).slider( "value" ) + " km" );
  } );
  </script>

    <p>
  <label for="distance">&nbsp;&nbsp;Maximum distance:</label>
  <input type="text" id="distance" readonly style="border:10; color:#d77349; font-weight:bold;">
</p>

<div id="slider-range-min"></div>

    <BR>
    <BR>
    <label>&nbsp;&nbsp;Display events that I am:</label>
    <p>&nbsp;&nbsp;Going to&nbsp;&nbsp;<input type="checkbox" onclick="if(this.checked){myFunction()}"></p>
    <p>&nbsp;&nbsp;Interested in&nbsp;&nbsp;<input type="checkbox" id="myCheck"></p>

    <!--<select id=127"categories"></select> -->
    <details><summary><b>Time</b></summary>
        <form  onsubmit="getTime();event.preventDefault()">
           <p> <input  type="radio" name="time" value="1">   Today</p>
            <p> <input type="radio" name="time" value="2">   Tomorrow</p>
            <p><input  type="radio" name="time" value="0" checked>  This week</p>
            <button  type="submit">Choose time</button>


        </form>

    </details>
    <details ><summary>Choose event categories</summary>
    <div >
        <form id="categories" onsubmit="sendCategories(); event.preventDefault()">{% csrf_token %}</form>


    </div> </details>

</div>

<!-- JavaScrip SearchEngine -->
<script>

    var input =document.getElementById("addr");
    input.addEventListener("keyup",function (event) {
        // Cancel the default action, if needed
  event.preventDefault();
  // Number 13 is the "Enter" key on the keyboard
  if (event.keyCode === 13) {
    // Trigger the button element with a click
    document.getElementById("addrbtn").click();
    //If any other key is pressed
  }else if (!event.shiftKey){
      searchSug();
  }
});
function getTime() {
    var radio = document.querySelector('input[name="time"]:checked').value;
    eventMap.removeLayer(markerLayer);
    markerLayer = new L.markerClusterGroup();

    var liste = JSON.stringify(radio);
    var categories = "{% url 'events:timeData' 12345 %}".replace(/12345/, liste);
    console.log(categories);

    $.getJSON(categories, function (data) {
        layer = L.geoJSON(data, {
            onEachFeature: onEachFeature
        });
        markerLayer.addTo(eventMap);
    }).fail(function (d, textStatus, error) {
        console.error("getJSON failed, status: " + textStatus + ", error: " + error);
    });
}



function searchSug() {
    var inp = document.getElementById("addr");
    $("#try").empty();
    var dataList=document.getElementById("try");
        $.getJSON('http://nominatim.openstreetmap.org/search?format=json&limit=10&q=' + inp.value, function(data) {
            $.each(data, function (key,val) {

                var option=document.createElement("option");
                option.setAttribute("value",val.display_name);
                dataList.appendChild(option);

            });
        });

    }


    function addr_search() {
        var inp=document.getElementById("addr");
        $.getJSON('http://nominatim.openstreetmap.org/search?format=json&limit=1&q=' + inp.value, function(data) {
    $.each(data, function (key,val) {
        var location = new L.LatLng(val.lat,val.lon);
        if(val.type=='city' || val.type=='administrative'){
            eventMap.setView(location);
            eventMap.fitBounds([[val.boundingbox[0],val.boundingbox[2]],[val.boundingbox[1],val.boundingbox[3]]])
        }else{
            eventMap.setView(location,13);
        }

    });
        });
    }



    function getCategories(){
        var dataList=document.getElementById("categories");
        var categories ="{% url 'events:categories' %}";
        $("#categories").empty();
        var div = document.createElement("div");
        var button = document.createElement("input");
        button.setAttribute("type", "submit");
        button.setAttribute("value", "Choose categories");
        div.appendChild(button);
        $.getJSON(categories,function (data) {
            $.each(data,function (key,val) {
                var subDiv = document.createElement("div");
                var input =document.createElement("input");
                input.setAttribute("id",val.fields.title);
                input.setAttribute("value",val.pk);
                var label =document.createElement("label");
                label.setAttribute("for", val.fields.title );
                label.innerText=val.fields.title;
                input.setAttribute("type", "checkbox");
                subDiv.appendChild(input);
                subDiv.appendChild( label);
                div.appendChild(subDiv);
            });

        });

        dataList.appendChild(div);
    }



    function sendCategories(){
        var checks = $('input[type="checkbox"]:checked').map(function(){
		    return $(this).val();
	}).get();
        eventMap.removeLayer(markerLayer);
        markerLayer = new L.markerClusterGroup();

        var liste = JSON.stringify(checks);
        var categories ="{% url 'events:listEvents' 12345 %}".replace(/12345/,liste);
        console.log(categories);

        $.getJSON(categories, function(data) {
           layer = L.geoJSON(data, {
               onEachFeature: onEachFeature
           });
          markerLayer.addTo(eventMap);
        }).fail( function(d, textStatus, error) {
            console.error("getJSON failed, status: " + textStatus + ", error: "+error);
        });



    }

    getCategories();
    </script>
<!-- /#sidebar-wrapper -->
