{% extends 'baseNavbar.html' %}

{% block content %}
<style>
    #event_title {
        text-align: center;
        color: #d5693d;
        font-size: 42px;
    }
    #event_ingress {
        font-size: 20px;
    }
    #event_author {
        font-size: 16px;
        color: darkgrey;
    }

    .invisible-button {
        background-color: Transparent;
        background-repeat:no-repeat;
        border: none;
        cursor:pointer;
        overflow: hidden;
        outline:none;
        font-size: 25px;
    }
    .event_favorite {

    }
    .star {

    }


</style>



    <div class="container" style="color: black">
        <div class="row space-below">
            <div class="col-xl-12 space-above">
                <div class="white-box" id="text-box">
                    {% if event.image %}
                        <div class="remove-whitebox-padding">
                            <img src="/uploads/{{ event.image }}" class="center-block img-responsive art-img" width="100%">
                        </div>
                    {% endif %}
                    <h1 id="event_title">{{ event.title }}</h1>
                    <em id="event_ingress">{{ event.ingress }}</em>

                    <p id="event_author">Av: {{ event.author.get_full_name }}</p>
                    <div>
                        <strong>Time: </strong>{{ event.start|date:"d/m-Y" }}, {{ event.start|time:"h:i" }}
                        {% if event.end %}
                            to {{ event.end|date:"d/m-Y" }}, {{ event.end|time:"h:i" }}<br>
                        {% endif %}
                    </div>
                    <div>
                        <strong>Category: </strong>{{ event.category }}<br>
                    </div>
                    <div>
                        {% if event.address %}
                            <strong>Address: </strong>{{ event.address }}
                        {% endif %}
                    </div>
                    {% if request.user.is_authenticated %}
                        <div class="event_favorite">
                            <form action="" method="post">{% csrf_token %}
                                <strong>Add to favorites: </strong>
                                {% if is_favorited %}
                                    <button class="invisible-button" style="color:#d5693d;" name="remove_favorite" type="submit" value="{{ event.pk }}"> <span class="glyphicon glyphicon-star star" aria-hidden="true"></span></button>
                                {% else %}
                                    <button class="invisible-button" name="add_favorite" type="submit" value="{{ event.pk }}"> <span class="glyphicon glyphicon-star-empty star" aria-hidden="true"></span></button>
                                {% endif %}
                            </form>
                        </div>
                    {% endif %}
                    <hr>
                    <p>{{ event.description|linebreaks }}</p>

                </div>
            </div>
        </div>
    </div>


{% endblock %}