{% extends 'baseNavbar.html' %}

{% block content %}

    <div class="container" style="color: black">
        <div class="row space-below">
            <div class="col-xl-12 space-above">
                <div class="white-box" id="text-box">
                    {% if event.image %}
                        <div class="remove-whitebox-padding">
                            <img src="{{ event.image.url }}" class="center-block img-responsive art-img" width="100%">
                        </div>
                    {% endif %}
                    <h1 id="event_title">{{ event.title }}</h1>
                    <h4 class="text-center">{{ event.ingress }}</h4>
                </div>
            </div>
        </div>
    </div>

{% endblock %}