<!DOCTYPE html>
<html lang="en">
{% load static %}
{% load leaflet_tags %}
<style type="text/css">
    #gis {width: 80%; height: 700px}
</style>
<script type="text/javascript" src={% static "dist/leaflet.ajax.js" %}></script>
<!-- jQuery -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script type="text/javascript" src="{% static "lib/js/jquery-3.3.1.js" %}"></script>


<head>
    {% leaflet_js %}
    {% leaflet_css %}
    <meta charset="UTF-8">
    <title>TestGeoDjango</title>
</head>
<body>


<script type="text/javascript">
    function our_layers(map, options) {
        var ourdata = "{% url 'events:pointData' %}";
        $.getJSON(ourdata, function (data) {
            L.geoJSON(data).addTo(map)
        })

    }
</script>
{% leaflet_map "gis" callback="window.our_layers" %}
</body>
</html>